sudo: required

python: "3.6"

language: python

dist: trusty
group: deprecated-2017Q2

services:
  - postgresql
  - docker

env:
  global:
    - DATABASE_URL=postgresql://postgres@localhost:5432/carbondoomsday
    - DJANGO_CONFIGURATION=Development
    - DJANGO_SECRET_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    - DJANGO_SETTINGS_MODULE=carbondoomsday.settings
    - CELERY_BROKER_URL=redis://localhost:6379/0
    - CELERY_RESULT_BACKEND=redis://localhost:6379/0
    - DJANGO_OPBEAT_ORGANIZATION_ID=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    - DJANGO_OPBEAT_APP_ID=aaaaaaaaaa
    - DJANGO_OPBEAT_SECRET_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

matrix:
  fast_finish: true
  include:
    - env: BUILD=lint
    - env: BUILD=isort
    - env: BUILD=migrate
    - env: BUILD=test
    - env: BUILD=compose

before_install:
  - psql -c 'create database carbondoomsday;' -U postgres
  - psql -c 'create database carbondoomsday_test;' -U postgres
  - pip install -U pip -e . pipenv

install:
  - pipenv install --dev

script:
  - |
    set -ex
    case "$BUILD" in
      isort)
        make pysort
        ;;
      lint)
        make pylint
        ;;
      migrate)
        make dbcheckmigrations
        make dbmigrate
        ;;
      test)
        make pytest
        ;;
      compose)
        docker build -t $DOCKER_USERNAME/carbondoomsday .
        cd dockercompose
        docker-compose up -d
        docker-compose down
        ;;
    esac
    set +ex

notifications:
  email: false

after_success:
  - pip install codecov
  - codecov --token=29a4b58d-9ed9-44aa-b44e-16efe2219614
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push $DOCKER_USERNAME/carbondoomsday;
    fi

notifications:
  email: false
