[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]

pytest-django = "*"
ipython = "*"
pylama = "*"
freezegun = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest = "*"
isort = "*"
ipdb = "*"


[packages]

django = "*"
djangorestframework-csv = "*"
coreapi = "*"
django-cors-headers = "*"
django-rest-swagger = "*"
django-extensions = "*"
django-configurations = "*"
redis = "*"
celery = { extras = [ "redis",] }
whitenoise = "*"
"psycopg2" = "*"
opbeat = "*"
uwsgi = "*"
django-redis = "*"
djangorestframework-filters = "*"
"-e ." = "*"
dj-database-url = "*"
drf-yasg = "*"
pluggy = "*"

[requires]

python_version = "3.6.4"
