[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
isort = "*"
pylama = "*"
freezegun = "*"

[packages]
dj-database-url = "*"
Django = "*"
django-configurations = "*"
django-extensions = "*"
django-rest-swagger = "*"
djangorestframework-filters = "*"
psycopg2 = "*"
redis = "*"
uWSGI = "*"
"-e ." = "*"
whitenoise = "*"
opbeat = "*"
coreapi = "*"
djangorestframework-csv = "*"
django-cors-headers = "*"
channels = "*"
asgi_redis = "*"

[packages.celery]
extras = [ "redis",]
