[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.5"

[packages]
"-e ." = "*"
Django = "*"
asgi_redis = "*"
channels = "*"
coreapi = "*"
dj-database-url = "*"
django-configurations = "*"
django-cors-headers = "*"
django-extensions = "*"
django-redis = "*"
django-rest-swagger = "*"
djangorestframework-csv = "*"
djangorestframework-filters = "*"
opbeat = "*"
psycopg2 = "*"
redis = "*"
uWSGI = "*"
whitenoise = "*"

[dev-packages]
freezegun = "*"
isort = "*"
pylama = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"

[packages.celery]
extras = [ "redis",]
